<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <!--Logo-->
        <img src="./images/logo-mercado-liebre.svg" alt="logo de mercado liebre">
        <!--Lugar para poner la barra de búsqueda-->
        <input type="text" placeholder="Buscar productos, marcas">
        <br>
        <button><i class="fas fa-search"></i></button>
        <p class="icon-list cuerpo-de-texto"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de
            crédito</p>

        <nav class="cuerpo-de-texto">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <br>
            <ul>
                <a href="register">
                    <li>Creá tu cuenta <i class="fas fa-address-card cuerpo-de-texto"></i></li>
                </a>
                <a href="login">
                    <li>Ingresá <i class="fas fa-sign-in-alt cuerpo-de-texto"></i></li>
                </a>
                <li>Mis compras <i class="fas fa-shopping-basket cuerpo-de-texto"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <img src="./images/img-home-banner.jpg" alt="banner">
        <section>
            <h2 class="titulo">Basado en tu última visita</h2>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
            <br>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg" alt="Macbook">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>
            <br>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </article>
            <br>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg" alt="Smart TV">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <p class="descripcion">SmartTV Samsung 43"</p>
            </article>
            <br>
        </section>
        <section>
            <h2 class="titulo">Ofertas</h2>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
            <br>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg" alt="Macbook">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>
            <br>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </article>
            <br>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg" alt="Smart TV">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <p class="descripcion">SmartTV Samsung 43"</p>
            </article>
            <br>
        </section>
    </main>
    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <br>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $2500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <br>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <br>
        </article>
        <article>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            <br>
        </article>
    </footer>
</body>

</html>