<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <form class="form" action="#" method="GET">
                <input type="text" placeholder="Buscar productos, marcas y más">
                <button class="submit"><i class="fa fa-search"></i></button>
            </form>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <section>
            <hr>
            <form>
                <input type="text" placeholder="Nombre y Apellido">
                <input type="text" placeholder="Nombre de usuario">
                <input type="email" placeholder="E-mail">
                <label>Fecha de Nacimiento</label>
                <input type="date">
                <input type="text" placeholder="Domicilio">
                <label>Perfil del usuario</label>
                <input type="radio" name="comprador" id="perfilComprador" value="comprador">Comprador
                <input type="radio" name="vendedor" id="perfilVendedor" value="vendedor">Vendedor
                <label>Intereses</label>
                <input type="checkbox">Electro
                <input type="checkbox">Moda
                <input type="checkbox">Hogar
                <input type="checkbox">Juguetería
                <input type="checkbox">Vida sana
                <label>Foto de usuario</label>
                <input type="file">
                <input type="password" placeholder="Elegí tu contraseña">
                <input type="password" placeholder="Confirmá tu contraseña">
                <button>Enviar</button>
                <button>Borrar</button>
            </form>
            <hr>
        </section>
    </main>
    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <br>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $2500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <br>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <br>
        </article>
        <article>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            <br>
        </article>
    </footer>
</body>
</html>