<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <!--Logo-->
        <img src="./images/logo-mercado-liebre.svg" alt="logo de mercado liebre">
        <!--Lugar para poner la barra de búsqueda-->
        <input type="text" placeholder="Buscar productos, marcas">
        <br>
        <button><i class="fas fa-search"></i></button>
        <p class="icon-list cuerpo-de-texto"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>

        <nav class="cuerpo-de-texto">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <br>
            <ul>
               <a href="register"> <li>Creá tu cuenta <i class="fas fa-address-card cuerpo-de-texto"></i></li></a>
                <a href="login"><li>Ingresá <i class="fas fa-sign-in-alt cuerpo-de-texto"></i></li></a>
                <li>Mis compras <i class="fas fa-shopping-basket cuerpo-de-texto"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
            <hr>
            <form>
                <input type="text" placeholder="Nombre y Apellido">
                <input type="text" placeholder="Nombre de usuario">
                <input type="email" placeholder="E-mail">
                <label>Fecha de Nacimiento</label>
                <input type="date">
                <input type="text" placeholder="Domicilio">
                <label>Perfil del usuario</label>
                <input type="radio" name="comprador" id="perfilComprador" value="comprador">Comprador
                <input type="radio" name="vendedor" id="perfilVendedor" value="vendedor">Vendedor
                <label>Intereses</label>
                <input type="checkbox">Electro
                <input type="checkbox">Moda
                <input type="checkbox">Hogar
                <input type="checkbox">Juguetería
                <input type="checkbox">Vida sana
                <label>Foto de usuario</label>
                <input type="file">
                <input type="password" placeholder="Elegí tu contraseña">
                <input type="password" placeholder="Confirmá tu contraseña">
                <button>Enviar</button>
                <button>Borrar</button>
            </form>
            <hr>
        </section>
    </main>
    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <br>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $2500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <br>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <br>
        </article>
        <article>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            <br>
        </article>
    </footer>
</body>
</html>